@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --violet-color: #515070;
    --light-orange-color: #ffbb91;
    --orange-color: #ff8e6e;
    --grey-color: #f6f6f6;
    --red-color: #cf1b1b;
}

body {
    font-family: 'Marmelad', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1100px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: auto;
    background: var(--grey-color);
}

/*nav*/

nav {
    background: var(--violet-color);
}

nav ul {
    display: flex;
    min-height: 100px;
}

nav li {
    flex-basis: 25%;
}

nav a {
    font-size: 32px;
    font-weight: bold;
    color: white;
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeLink {
    background: var(--orange-color);
}

/*correctAnswers*/

.correctAnswers {
    padding: 20px 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

/* меняющиеся картинки - сезоны*/

.picturesWrapper {
    width: 100px;
    margin: auto;
    position: relative;
}

.picturesWrapper img {
    width: 100%;
}

.season {
    position: absolute;
}

.season1 {
    top: 180px;
    left: 200px;
    width: 80px;
    height: 80px;
}

.season2 {
    top: -50px;
    left: -180px;
    width: 60px;
    height: 60px;
}

.season3 {
    top: 250px;
    left: -120px;
    width: 100px;
    height: 100px;
}

.season4 {
    top: 430px;
    left: 310px;
    width: 70px;
    height: 70px;
}

.star {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: starMove 2s forwards;
}

@keyframes starMove {
    from {
        top: -120px;
        left: -180px;
    }

    to {
        top: 180px;
        left: -180px;
    }
}

/*exercise*/

.exercise {
    font-size: 120px;
    color: var(--violet-color);
    display: flex;
    justify-content: center;
    padding: 15px;
}

.exercise>div {
    padding: 0 20px;
}

.exercise>div:last-child {
    color: var(--orange-color);
}

/*button*/

.buttonWrapper {
    display: flex;
    justify-content: center;
}

button {
    width: min-content;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background: var(--light-orange-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    color: black;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
}

main {
    position: relative;
}

#trueOrError {
    min-height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
}

/*answers*/

.answers {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 30px;
}

.answers>div {
    font-size: 120px;
    font-weight: 700;
    color: white;
    line-height: 200px;
    flex-basis: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.25);
}

.answer1 {
    background: var(--light-orange-color);
}

.answer2 {
    background: var(--violet-color);
}

.answer3 {
    background: var(--orange-color);
}

.fontWeightNormal {
    font-weight: normal !important;
}

.wrong {
    background: var(--red-color);
    animation: glowing 2s ease-in-out;
}

/*footer*/

footer {
    font-size: 12px;
    text-align: center;
}

@keyframes glowing {
    0% {
        background: var(--grey-color);
    }

    25% {
        background: var(--red-color);
    }

    50% {
        background: var(--grey-color);
    }

    100% {
        background: var(--red-color);
    }
}

@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
    }

    nav a {
        padding: 10px 0;
    }

    .season1 {
        top: 150px;
        left: 190px;
        width: 70px;
        height: 70px;
    }
    
    .season2 {
        top: -40px;
        left: -160px;
        width: 50px;
        height: 50px;
    }
    
    .season3 {
        top: 230px;
        left: -70px;
        width: 90px;
        height: 90px;
    }
    
    .season4 {
        top: 360px;
        left: 245px;
        width: 60px;
        height: 60px;
    }

    @keyframes starMove {
        from {
            top: -140px;
            left: -150px;
        }
    
        to {
            top: 160px;
            left: -150px;
        }
    }

    .exercise {
        font-size: 100px;
    }

    .exercise>div {
        padding: 0 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .answers>div {
        font-size: 90px;
        line-height: 140px;
        flex-basis: 140px;
    }

}

@media (max-width: 576px) {

    .wrapper {
        min-width: 320px;
    }

    nav a {
        font-size: 20px;
    }

    .season1 {
        top: 150px;
        left: 140px;
        width: 50px;
        height: 50px;
    }
    
    .season2 {
        top: -20px;
        left: -100px;
        width: 40px;
        height: 40px;
    }
    
    .season3 {
        top: 195px;
        left: -30px;
        width: 60px;
        height: 60px;
    }
    
    .season4 {
        top: 285px;
        left: 175px;
        width: 30px;
        height: 30px;
    }

    .star {
        width: 40px;
        height: 40px;
    }

    @keyframes starMove {
        from {
            top: -150px;
            left: -90px;
        }
    
        to {
            top: 150px;
            left: -90px;
        }
    }

    .correctAnswers {
        font-size: 16px;
    }

    .exercise {
        font-size: 40px;
    }

    button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .answers {
        column-gap: 10px;
    }

    .answers>div {
        font-size: 50px;
        line-height: 90px;
        flex-basis: 90px;
    }

}
